body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ebf2f9;
}

a {
  color: #00B7FF;
}

#chat {
  display: none;
}

#message-input {
  position: fixed;
  width: 90%;
  bottom: 30px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#username-input {
  position: fixed;
  width: 200px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}